{% extends "layout.html" %}
{% block body %}

<div class="container py-5 mb-3 content" x-data="{}">
  <div class="text-end mb-4">
    <div style="font-size: 2em; cursor: pointer;" x-on:click="location.href='https://github.com/celina-lopez/bionic-reading'">
      <i class="fab fa-github"></i>
    </div>
  </div>
  <div class="text-center mb-4">
    <div class="h1 text-center fancy-font">
      Virtual Pet<span class="text-main">Hub</span>
    </div>
    <i>A virtual pet based on your contributions</i>
  </div>
  <form id="form" >
    <input type="text" class="form-control" placeholder="Github username" name="username">
    <label class="mr-sm-2" for="inlineFormCustomSelect">Preference</label>
      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        <option selected>Choose...</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </form>
</div>

<div class="footer-copyright text-center py-3">
  <i>Made with <a target="_blank" href="https://forever-free-cloud-app-starter.chriszhu.me/">forever free cloud app starter</a></i>
</div>



{% endblock %}
