

{% extends "layout.html" %}
{% block body %}

<div class="container py-5 mb-3 content" x-data="{}">
  <div class="text-end mb-4">
    <div style="font-size: 2em; cursor: pointer;" x-on:click="location.href='https://github.com/celina-lopez/virtual-pethub'">
      <i class="fab fa-github"></i>
    </div>
  </div>
  <div class="text-center mb-4">
    <div class="h1 text-center fancy-font">
      Virtual Pet<span class="text-main">Hub</span>
    </div>
    <i>A virtual pet based on your contributions</i>
  </div>

  <label class="mr-sm-2" for="username">Username</label>
  <input type="text" class="form-control form-control-lg" placeholder="Github username" name="username" id="username">
  <label class="mr-sm-2 mt-2" for="theme">Theme</label>
  <select class="form-control form-control-lg mr-sm-2" name="theme" id="theme">
    <option selected value="pink">pink</option>
    <option value="green">green</option>
    <option value="blue">blue</option>
    <option value="babyblue">baby blue</option>
    <option value="comic">comic</option>
    <option value="donut">donut</option>
    <option value="flower">flower</option>
    <option value="love">love</option>
    <option value="retro">retro</option>
    <option value="sparklegreen">sparkley green</option>
    <option value="sparklepink">sparkley pink</option>
    <option value="sparklered">sparkley red</option>
    <option value="white">white</option>
    <option value="whitepink">white pink</option>
    <option value="yellow">yellow</option>
  </select>
  <button class="btn btn-main w-100 btn-lg mt-3" id="submit">Submit</button>
  <div class="text-center mt-3"><img src="/static/dancing-blue.gif" height="200" style="align-content: center;"></div>
</div>
<script>
  $(function() {
    $("#submit").click(function() {
      window.location.href = `/${$('#username').val().toLowerCase()}?theme=${$('#theme').val()}`
    });
  });
</script>

<div class="footer-copyright text-center py-3">
  <i>Made with <a target="_blank" href="https://forever-free-cloud-app-starter.chriszhu.me/">forever free cloud app starter</a></i>
</div>



{% endblock %}