{% extends "layout.html" %}
{% block body %}

<div class="container py-5 mb-3 content" x-data="{}">
  <div class="text-end mb-4">
    <div style="font-size: 2em; cursor: pointer;" x-on:click="location.href='https://github.com/celina-lopez/bionic-reading'">
      <i class="fab fa-github"></i>
    </div>
  </div>
  <div class="text-center mb-4">
    <div class="h1 text-center fancy-font">
      Virtual Pet<span class="text-main">Hub</span>
    </div>
    <i>A virtual pet based on your contributions</i>
  </div>
  TODO: enter username
</div>

<div class="footer-copyright text-center py-3">
  <i>Made with <a target="_blank" href="https://forever-free-cloud-app-starter.chriszhu.me/">forever free cloud app starter</a></i>
</div>



{% endblock %}
