{% extends "layout.html" %}
{% block body %}

<div class="container text-center mb-3">
  <svg xmlns="http://www.w3.org/2000/svg" width="300" viewBox="0 0 300 300" fill="none" role="img" aria-labelledby="descId">
    <style>
      .header {
        font: 600 18px "Courier New", Courier, monospace,  Ubuntu, "Helvetica Neue", Sans-Serif;
        fill: {{colors["#216e39"]}};
        animation: fadeInAnimation 0.8s ease-in-out forwards;
      }
      @supports(-moz-appearance: auto) {
        /* Selector detects Firefox */
        .header { font-size: 15.5px; }
      }
      .stat {
        font: 600 14px "Courier New", Courier, monospace, Ubuntu, "Helvetica Neue", Sans-Serif; fill: #434d58;
      }
    
      @supports(-moz-appearance: auto) {
      /* Selector detects Firefox */
        .stat { font-size:12px; }
      }
      .stagger {
        opacity: 0;
        animation: fadeInAnimation 0.3s ease-in-out forwards;
      }
      .bold { font-weight: 700 }
      /* Animations */
      @keyframes fadeInAnimation {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    </style>
    <g data-testid="card-title" transform="translate(0, 35)">
      <text class="header"  x="50%" dominant-baseline="middle" text-anchor="middle" data-testid="header">{{ username }}'s</text>
    </g>
    <g data-testid="card-title" transform="translate(0, 55)">
      <text class="header"  x="50%" dominant-baseline="middle" text-anchor="middle" >Virtual Pet</text>
    </g>
    <g data-testid="main-card-body" transform="translate(0, 75)">
      <g transform="translate(80, 0)">
        {% if mood == "dead" %}
          <image href="https://www.virtual-pethub.com/static/{{ mood }}-{{ theme }}.gif" width="140" />
        {% else %}
          <image href="https://www.virtual-pethub.com/static/{{ pet }}/{{ mood }}-{{ theme }}.gif" width="140" />
        {% endif %}
        </g>
      <g class="stagger" style="animation-delay: 450ms" transform="translate(0, 205)">
        <text class="stat bold" x="50%" dominant-baseline="middle" text-anchor="middle"  y="12.5">{{ total_contributions }} recent contributions</text>
      </g>
    </g>
  </svg>
  <br/>
  <br/>
  <div style="text-align: -webkit-center;overflow: auto;" class="my-4">
    <div id="pixel-art-area">
      {% for week in weeks %}
        {% for day in week['contributionDays'] %}
          <div class="pixel" style="background-color:{{colors[day['color']]}};"></div>
        {% endfor %}
      {% endfor %}
    </div>
  </div>

  <div>Copy and add to your README!</div>
  <div style="position:relative">
    <pre style="background-color:{{colors["#9be9a8"]}}80;">
      <code data-lang="html">
        <span class="nt">&lt;div</span> <span class="na">align=</span><span class="s">&quot;center&quot;</span><span class="nt">&gt;</span>
          <span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">&quot;https://www.virtual-pethub.com/{{username}}/{{theme}}/header.svg?&quot;</span> <span class="na">alt=</span><span class="s">&quot;virtual pethub header&quot;</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">align=</span><span class="s">&quot;center&quot;</span><span class="nt">&gt;</span>
          <span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">&quot;https://www.virtual-pethub.com/{{pet}}/{{username}}/{{theme}}.gif?&quot;</span> <span class="na">height=</span><span class="s">&quot;200&quot;</span> <span class="na">alt=</span><span class="s">&quot;virtual pethub subtitle&quot;</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">align=</span><span class="s">&quot;center&quot;</span><span class="nt">&gt;</span>
          <span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">&quot;https://www.virtual-pethub.com/{{username}}/contributions.svg?&quot;</span> <span class="na">alt=</span><span class="s">&quot;virtual pethub subtitle&quot;</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div&gt;</span>
    </code>
    </pre>
    <div id="copyToClipboard" class="clipboard icon" style="--clipboardcolor:{{colors["#216e39"]}}"><img src="https://www.virtual-pethub.com/static/clipboard-regular.svg"/></div>
  </div>

  <div class="d-none" id="copy-text">
    <div align="center">
      <img src="https://www.virtual-pethub.com/{{username}}/{{theme}}/header.svg?"/>
    </div>
    <div align="center">
    <div align="center">
      <img src="https://www.virtual-pethub.com/{{pet}}/{{username}}/{{theme}}.gif?" height="200" />
    </div>
    </div>
    <div align="center">
      <img src="https://www.virtual-pethub.com/{{username}}/contributions.svg?"/>
    </div>
  </div>

  
</div>

<script>
  document.getElementById('copyToClipboard').addEventListener('click', function() {
    function listener(e) {
      e.clipboardData.setData("text/html", document.getElementById('copy-text').innerHTML);
      e.clipboardData.setData("text/plain", document.getElementById('copy-text').innerHTML);
      e.preventDefault();
    }
    document.addEventListener("copy", listener);
    document.execCommand("copy");
    document.removeEventListener("copy", listener);
  })

</script>


{% endblock %}
